@import "tailwindcss";

@font-face {
  font-family: 'ClarendonCustom';
  src: url('/fonts/clarendon.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --font-space: var(--font-space), sans-serif;
  /* --font-syncopate: var(--font-syncopate), sans-serif; */
  --font-caveat: var(--font-caveat), cursive;
  
  --color-background: #E6E6E6;
  --color-foreground: #111111;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-space), sans-serif;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ClarendonCustom", "Clarendon", "New Clarendon", serif;
  font-weight: bold;
}