@import "tailwindcss";

@font-face {
  font-family: 'ClarendonCustom';
  src: url('/fonts/clarendon.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClarendonCustom';
  src: url('/fonts/clarendon.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --font-space: var(--font-space), sans-serif;
  --font-clarendon: "ClarendonCustom", "Clarendon", "New Clarendon", serif;
  --font-caveat: var(--font-caveat), cursive;

  --color-background: #E6E6E6;
  --color-foreground: #111111;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "ClarendonCustom", "Clarendon", "New Clarendon", serif;
    overflow-x: hidden;
  }

  p, li, label, input, textarea, select {
    font-family: var(--font-space), sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1, h2, h3, h4, h5, h6,
button, a, #header, .font-clarendon {
  font-family: "ClarendonCustom", "Clarendon", "New Clarendon", serif;
}